/* Estilos gerais */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
    background: url('Img11.png') no-repeat center center fixed; /* Caminho para a imagem de fundo */
    background-size: cover; /* Faz com que o fundo cubra toda a tela */
    color: white;
    b
}

/* Estilos do canvas */
canvas {
    border: 2px solid #3498db;
    display: block;
    margin: 0 auto;
    background: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNW45cXZ2c2wzNjVjamJuNTFxZWU1ZWx6OXgwcGRsMDhhd3J6eDQ4YSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/UYBDCJjwOd9Re/giphy.webp') no-repeat center center;
    background-size: cover;
}

/* Estilos de informações do jogo */
.info {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    gap: 30px; /* Ajuste o espaço entre os itens, se necessário */
    margin-top: 20px; /* Espaço acima das informações */
}


/* Área da equação */
#equationArea {
    margin-top: 20px;
}

/* Estilos do jogo */
#gameOver {
    display: none; /* Oculta o elemento inicialmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(44, 62, 80, 0.9);
    padding: 20px;
    border-radius: 10px;
    color: #ecf0f1;
    text-align: center;
    width: 300px;
}

/* Estilos do título de game over */
#gameOver h1 {
    margin-bottom: 10px;
    color: #e74c3c;
}

/* Botões */
button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#submitAnswer {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 50px;
}

#restartButton {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Estilos para o ranking */
#rankingList {
    list-style: none;
    padding: 0;
    color: #3498db;
}

/* Estilo para a pontuação final */
#finalScore {
    font-size: 24px;
    font-weight: bold;
}